{ 'constraint_pdb'      : '', 
  'cores'               : 1, 
  'force_field'         : 'NAMDGBIS', 
  'heating'             : True, 
  'input_crds'          : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/min/min.coor', 
  'input_vels'          : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/min/min.vel', 
  'n_step_dynamics'     : 1000, 
  'n_step_per_snapshot' : 50, 
  'output_name'         : 'heating', 
  'random_seed'         : 2342, 
  'temp_init'           : 10, 
  'temp_thermometer'    : 300, 
  'topology'            : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/min/min.psf' }