{ 'constraint'       : '209', 
  'cores'            : 1, 
  'force_field'      : 'NAMDGBIS', 
  'lig_pdb'          : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/ref_lig.pdb', 
  'n_step'           : 10000, 
  'n_step_per_pulse' : 100, 
  'raw_pdb'          : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/ref.pdb', 
  'residue'          : 208, 
  'residue_dir'      : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0/300k-rip-300k/209', 
  'temp_back'        : 300, 
  'temp_perturb'     : 300, 
  'thermometer_type' : 'rip', 
  'top_dir'          : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG0_LEU0' }