{ 'constraint_pdb'      : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/equil/300k/equil.coor.constraint', 
  'cores'               : 1, 
  'force_field'         : 'NAMDGBIS', 
  'input_crds'          : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/equil/300k/equil.coor', 
  'input_vels'          : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/equil/300k/equil.vel', 
  'n_step_dynamics'     : 10000, 
  'n_step_per_snapshot' : 50, 
  'output_name'         : 'md', 
  'random_seed'         : 2342, 
  'temp_thermometer'    : 300, 
  'topology'            : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/equil/300k/equil.psf' }