{ 'constraint'       : '210', 
  'cores'            : 1, 
  'force_field'      : 'NAMDGBIS', 
  'lig_pdb'          : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG0_LEU0/ref_lig.pdb', 
  'n_step'           : 10000, 
  'n_step_per_pulse' : 100, 
  'raw_pdb'          : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG0_LEU0/ref.pdb', 
  'residue'          : 209, 
  'residue_dir'      : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG0_LEU0/300k-rip-300k/210', 
  'temp_back'        : 300, 
  'temp_perturb'     : 300, 
  'thermometer_type' : 'rip', 
  'top_dir'          : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG0_LEU0' }