{ 'constraint_pdb' : '', 
  'cores'          : 1, 
  'cutoff'         : 17.0, 
  'force_field'    : 'NAMDGBIS', 
  'input_crds'     : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/sim.pdb', 
  'output_name'    : 'min', 
  'topology'       : '/scratch/mcm/trapp/jobs/pocket_1f2cd40d-8da8-4e03-b579-e495771b7375/RIPLIG-OUT/RIPLIG2_LEU2/sim.psf' }