{ 'constraint_pdb' : '', 
  'cores'          : 1, 
  'cutoff'         : 17.0, 
  'force_field'    : 'NAMDGBIS', 
  'input_crds'     : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG1_LEU1/sim.pdb', 
  'output_name'    : 'min', 
  'topology'       : '/scratch/mcm/trapp/jobs/pocket_505edb66-961a-471b-9951-1c9dc164f951/RIPLIG-OUT/RIPLIG1_LEU1/sim.psf' }